<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/landing.css">
    <%- include('../partials/head'); %>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="trasnnav" >
            <div class="container" >
                <a class="navbar-brand" href="/inicio"><img src="../img/Logo.png" alt=""
                        width="51px" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Productos</a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/catalogo" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Catalogo</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/servicios" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Servicios</a>
                        </li>
                        
                    </ul>
                    <form id='botones' class="d-flex">
                        
                            <a class="btn btn-outline-danger text-black rounded-4" href="/login">Iniciar Sesion</a>
                            <a class="btn btn-outline-danger text-black rounded-4" href="/registro">Registrarse</a>
                            <button class="btn btn-danger" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-cart-fill"></i></button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel" >
          <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Carrito de compras</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
              <h2>Carrito de Compras</h2>
              <img src="img/carrito.jpeg" alt=""  class="card-img-top" height="100px" width="100px">
              <div id="contenedor">
    
              </div>
              <p>Total: $<span id="total">0</span></p>
              <button class="btn btn-primary" onclick="pagar()">Comprar</button>
              <button class="btn btn-danger" onclick="vaciar()">Vaciar carrito</button>
              
          </div>
        </div>
      
    </header>
   
    <main>
        <section style="background-color: black;">
            <div id="carouselServicios" class="carousel slide" style="max-width: 100%;">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex align-items-center">
                    <img src="../img/descuentoproducto.jpg" class="d-block mx-auto" width="80%" height="400px"
                      alt="imagen descuentos">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex align-items-center">
                    <img src="../img/descuentomanodeobra.jpg" class="d-block mx-auto" width="80%" height="400px" alt="imagen combos">
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselServicios" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Anterios</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselServicios" data-bs-slide="next">
                <span class="carousel-control-next-icon" ariahidden="true"></span>
                <span class="visually-hidden">Siguiente</span>
              </button>
            </div>
          </section>
          <section class="servicios">
            <h1>Productos</h1>
            <div>
              
              <div class="product">
                  
                <% listadoProductos.forEach(producto => { %>
                          
                              <div class="card align-items-center text-center p-10" style="width: 18rem; padding: 4%;">
                                <img src="<%= producto.imagen %>" class="card-img-top" alt="No carga la imagen" style="width:86%; height: 130px;" >
                                  <div class="card-body">
                                    <p class="card-text"><%= producto.nombre %> <br> <strong>$<%= producto.precio %></strong> <br> <%= producto.descripcion_producto %></p>
                                    <form>
                                      <input type="hidden" name="id" id="id_{{ p.id }}" value="{{ p.id }}" />
                                      <input type="number" name="cantidad_<%= producto.id %>" id="cantidad_<%= producto.id %>" min="1" max="{{ p.cantidad }}" value="1" style="width: 50px;" /><br><br>
                                      <p class="card-text">Unidades disponibles: <strong><%= producto.cantidad %></strong></p>
                                      <button type="button" onclick="add(`<%= producto.id %>`,`<%= producto.nombre %>`,`<%= producto.precio %>`)" class="btn btn-danger">Añadir al carrito</button>
                                  </form>
                                  </div>
                              </div>
                            
                <%})%>
              </div>
             
          </div>
          </section>
        </section>
      </main>
</body>
<script>
  const carrito = []
  const total = 0
  const c = 0

  function add(id,name,price){

      let json_info = JSON.stringify(carrito)
      localStorage.setItem('carrito',json_info)
      let combinacion = "cantidad_" + id
      let amount =  document.getElementById(combinacion)
      if(carrito.length == 0){
          
        console.log(amount)
          carrito.push({ name: name, price:parseInt(price),amount:amount.value})
            }else{
          const carrito_producto = carrito.find(item => item.name === name)

          if(carrito_producto){
              carrito_producto.amount = parseInt(carrito_producto.amount) + parseInt(amount.value)
             console.log('Modificado')
             console.log(carrito_producto)
          }else{
              carrito.push({ name: name, price:parseInt(price),amount:amount.value})
              console.log('Agregado')
              console.log(carrito)
 
          }

      }
      updateCart()

  }


function deleteOne(name){
console.log('Aqui estoy')
   for(let i=0;i<=carrito.length;i++){
      if(carrito[i].name == name){
          carrito.pop(i)
      }
  }

  location.href = location.href

  updateCart()
  

}


function updateCart() {
  
  const cartItems = document.getElementById('contenedor');
  const totalElement = document.getElementById('total');
  const cont = document.getElementById('deleteOne');
  cartItems.innerText = ''
  let total = 0;

  
  carrito.forEach(item => {
      
      const itemTotal = item.price * item.amount;
      total += itemTotal;

      
          const card = document.createElement('div');
          card.className = 'cart-item';
          
          const title = document.createElement('h3');
          title.textContent = item.name;
          
          const price = document.createElement('p');
          price.textContent = `Precio: $${item.price}`;

          const amount = document.createElement('p');
          amount.textContent = `Cantidad: ${item.amount}`;

          const buttonDelete = document.createElement('button');
          buttonDelete.type = "button";
          buttonDelete.className = 'btn btn-danger';
          buttonDelete.textContent = 'x'
          buttonDelete.onclick = `deleteOne(${item.name})`
          
          card.appendChild(title);
          card.appendChild(price);
          card.appendChild(amount);
          card.appendChild(buttonDelete);
          
          
          cartItems.appendChild(card);
  

  });

  totalElement.innerText = total

 
}

 

function pagar(){
  location.href = '/checkout'
}

function vaciar(){
  for(let i=0;i<=carrito.length;i++){
      carrito.pop(i)

  }

  location.href = location.href

}

function eliminarUno(name){
  for(let i=0;i<=carrito.length;i++){
      if(carrito[i].name == name){
          carrito.pop(i)
          console.log('Carrito eliminado')

      }

  }

  location.href = location.href


}
  
</script>
</html>