<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("../partials/head");%>
</head>
<body>
    <%- include ("../partials/header");%>
    <main>
        <div class="container-fluid m-3">
        <h1 class="h1">Lista de Servicios</h1>
        <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Nombre del servicio</th>
                <th>Descripcion</th>
                <th>Precio</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% listadoServicios.forEach(servicios=> { %>
                <tr>
                    
                    <td><%= servicios.nombre %></td>
                    <td><%= servicios.precio %></td>
                    <td><%= servicios.descripcion_servicio %></td>
                    <td>
                        <a class="btn btn-info" href="#">Editar</a>
                        <a class="btn btn-danger" href="#">Eliminar</a>   
                    </td>
                </tr>
                <%})%>
        </tbody>
        </table>
    
        <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        </nav>
        </div>
    </main>
    <%- include ("../partials/footer");%>
</body>
</html>

