<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="trasnnav" >
            <div class="container" >
                <a class="navbar-brand" href="/inicio"><img src="../img/Logo.png" alt=""
                        width="51px" height="50px"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mynavbar">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Productos</a>
                            
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/catalogo" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Catalogo</a>
                        </li>
                        
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="/servicios" role="button"
                                data-bs-toggle="dropdown" style="color: black;">Servicios</a>
                        </li>
                        
                    </ul>
                    <form id='botones' class="d-flex">
                        
                            <a class="btn btn-outline-danger text-black rounded-4" href="/login">Iniciar Sesion</a>
                            <a class="btn btn-outline-danger text-black rounded-4" href="/registro">Registrarse</a>

                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main style="margin-top: 5%;">
        <div class="container-fluid m-3" style="padding: 2%;">
            <h1 class="text-center">Usuarios</h1>
                <table  class="table table-bordered table-hover" id="producto">
                    <thead class="table-dark">
                        <tr>
                            <th>Foto</th>
                            <th>Nombre</th>
                            <th>Correo</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% query.forEach(usuario => { %>
                            <tr>
                                <td><img src="<%= usuario.imagen %>" height="40px" alt=""></td>
                                <td><%= usuario.nombre %></td>
                                <td><%= usuario.correo %></td>
                                
                                <td>
                                    

                                    <a class="btn btn-info" href="#"><i class="bi bi-pencil-square"></i></a>
                                    <a class="btn btn-danger" onclick="deleteOne(`<%= usuario._id %>`)"><i class="bi bi-trash-fill"></i></a>
                                    
                                </td>
                            </tr>
                        <%})%>
                    </tbody>
                </table>
                <div style="display: flex; justify-content: center; align-content: center;">
                    <a  class="btn btn-success btn-lg" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#agg"><i class="bi bi-plus"></i></a>
                </div>
                
        </div>
    </main>
    
    
    <%- include('../partials/footer'); %>
</body>
<script>
    new DataTable('#producto');
</script>
<div class="modal" id="agg">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Agregar usuario</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <form action="/insertarUsuario" method="post" class="form">
            <div class="form-row">
              <div class="form-group col-md-12">
                <label for="">Nombre</label><br>
                <input type="text" name="nombre" id="nombre" class="form-control"><br>
              </div>
              <div class="form-group col-md-12">
                <label for="">Correo</label><br>
                <input type="email" name="correo" id="correo" class="form-control"><br>
              </div>
              <div class="form-group col-md-12">
                <label for="">Contrasena</label><br>
                <input type="password" name="password" id="password" class="form-control"><br>
              </div>
              <div class="form-group col-md-12">
                <label for="">Imagen</label><br>
                <input type="text" name="imagen" id="imagen" class="form-control"><br>
              </div><br>  
            </div>  
            <button class="btn btn-danger">Agregar usuario</button>
        </form>
            
          
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
  
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
        </div>
  
      </div>
    </div>
  </div>


</html>
